{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <div class="row">
        <div class="col-4">    <!-- col-md-6 offset-md-3 대신 col-4 사용 -->
            <h4>아이디 찾기</h4>
        </div>
        <div class="col-8 text-right">  
            <span>또는 <a href="{% url 'common:login' %}">로그인 하세요.</a></span>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="form-group">
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        <button type="submit" class="btn btn-primary">아이디 찾기</button>
        <a href="{% url 'common:login' %}" class="btn btn-secondary">취소</a>
    </form>
</div>

{% endblock %}